* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 176, 216);
}

.nav_box {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 60px;
}
.my_shop {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 35, 35);
  cursor: pointer;
}

.cart span:nth-child(1) {
  font-size: 2rem;
  color: rgb(250, 70, 70);
}
.cart span:nth-child(2) {
  padding: 0 6px;
  background-color: rgb(246, 250, 209);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.nav-logo {
  color: #f84be1; 
  text-decoration: none; 
}


.nav-bag .fas {
  color: #800d63; 
}